body {
    font-family: Arial, sans-serif;
    background: #0D0D0D;
    margin: 0;
    padding: 0;
    color: #333;
}
nav {
    color: #ffffff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    font-size: 30px;
    color: #A6243C;
    margin-top: 1rem;
    margin-left: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin-top: 1rem;
    margin-right: 2.5rem;
}
nav ul li a {
    color: #F2BDC7;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
}

nav ul li a:hover {
    color: #af557f;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 5px;
}

.headings {
    color: #BF6F94;
}

.headings h2 {
    font-size: 36px;
    margin: 15px 0 0;
}

.headings h3 {
    color: #F2BDC7;
    font-size: 24px;
}

.todo-item {
    background: #e9ecef;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-item button {
    border: none;
    background: #dc3545;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}
.todo-item button:hover {
    background: #bd2130;
}
input[type="text"] {
    padding: 0.5rem;
    margin-right: 1rem;
    width: calc(100% - 100px);
    border-radius: 5px;
    border: 1px solid #ced4da;
}
button#add-task {
    border: none;
    background: #28a745;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
button#add-task:hover {
    background: #218838;
}
footer {
    text-align: center;
    margin-top: 2rem;
}